@model AFPA.BOL.Etablissement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Etablissement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesignationEtablissement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignationEtablissement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtablissementRattachement.DesignationEtablissement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtablissementRattachement.DesignationEtablissement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEtablissement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
